[submodule "matlab"]
	path = matlab
	url = git@github.com:dagoodma/dpp_matlab.git
	branch = master
[submodule "test/gtest"]
	path = test/gtest
	url = https://github.com/google/googletest.git
[submodule "lib/dubins-curves"]
	path = lib/dubins-curves
	url = git@github.com:dagoodma/Dubins-Curves.git
