[submodule "matlab"]
	path = matlab
	url = git@github.com:dagoodma/dpp_matlab.git
	branch = master
[submodule "test/gtest"]
	path = test/gtest
	url = https://github.com/google/googletest.git
[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = https://github.com/google/googletest.git
	branch = master
[submodule "lib/dubins-curves"]
	path = lib/dubins-curves
	url = git@github.com:dagoodma/Dubins-Curves.git
	branch = cpp
[submodule "ogdf"]
	path = ogdf
	url = https://github.com/ogdf/ogdf.git
	branch = master
[submodule "lib/ogdf"]
	path = lib/ogdf
	url = https://github.com/ogdf/ogdf.git
	branch = master
